<div class="message container-fluid justify-content-center d-flex align-items-center align-self-center">
  <p class="text-center"><%= t('room_number') %>: <%= @room.door %></p>

  <p class="text-center"><%= t('access_code') %>: <%= @room.code %></p>
</div>

<div class="input-row container-fluid">
  <%= link_to t('thanks'), root_path, class: "btn btn-success"%>
</div>
