<!DOCTYPE html>
<html>
  <head>
    <title>TownsfolkTerminal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='app'>
    <%= render 'shared/help' %>
    <%= render 'shared/lang' %>
    <div class="background"></div>
    <div class="app-container" id="appContainer">
      <%= render 'shared/navbar' %>
      <%= render 'shared/overlay' %>
      <div class="content-container">
      <%= yield %>
    </div>
  </body>
</html>
